<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wackadoo.wackadoo_client"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.SplashActivity"
			android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.wackadoo.wackadoo_client.activites.WackadooWebviewActivity"
			android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.MainActivity"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.ShopActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.AccountManagerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.InfoScreenActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.SelectGameActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.wackadoo.wackadoo_client.activites.CredentialScreenActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>
